@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fontSizeDefault: 10px;
}

* {
    box-sizing: border-box;
}

html {
    font-size: var(--fontSizeDefault);
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}